<div class="w-full h-32 bg-lendNation-green bg-cover relative">
    <!-- Overlay Background + Center Control -->
    <div class="centered-container">
        <div class="w-full h-32 bg-opacity-50 flex items-center" height="650">
            <div class="mx-2 text-center">
                <div class="text-white font-bold text-3xl xs:text-4xl md:text-5xl">{{text}}
                </div>
            </div>
        </div>
    </div>
</div>