---
{
    "stream": {
        "$id": "faq-pages",
        "source": "knowledgeGraph",
        "destination": "pages",
        "filter" : {
            "entityTypes": [
                "faq"
            ]
        },
        "fields": [
            "id", 
            "uid", 
            "meta",
            "question",
            "answer",
            "slug"
        ], 
        "localization": {
            "locales": ["en"]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head }}
        <title>LENDNATION FAQs - {{question}}</title>
        {{!-- {{>schema}} --}}
        <link rel="shortcut icon" type="image/png" href="/images/local.lendnation.com.png"/>
    </head>
    <body>      
            <div class="w-full">
                {{>nav}}
                {{>hero text=question}}
                <div class="centered-container">
                    <div class="section">
                        <div class="text-2xl font-semibold text-lendNation-body-gray">Answer</div>
                        <div class="text-xl">{{convertRTFToHTML answer}}</div>
                    </div>
                </div>
            </div>
        
        {{!--  <div class="w-full bg-lendNation-blue">
                <div class="centered-container">
                    <div class="section h-60 text-white">
                        <div class="text-3xl font-semibold">[Replace Me]</div>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <div class="centered-container">
                    <div class="section h-60">
                        <div class="text-3xl font-semibold">[Replace Me]</div>
                    </div>
                </div>
            </div>--}}
          
            {{>footer}}
    </body> 
</html>
