---
{

    "urlFormat" : "index.html"
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    {{>head }}
    <title>Home Page</title>
    <link rel="shortcut icon" type="image/png" href="/images/local.lendnation.com.png"/>
</head>
    <body>      
        <div class="w-full">
            {{>nav}}
            {{>hero text="ABOUT US"}}
            <div class="centered-container">
                <div class="section h-60">
                    <div class="text-3xl font-semibold text-lendNation-blue">LendNation gets you the cash you need how and when you need it with a variety of flexible solutions online and in-store.</div>
                </div>
                <div text-xl text-lendNation-body-gray">Our simple, flexible money solutions make getting a loan easy and your cash accessible both online and in-store. Whether you need a loan or simply need to cash a check, we're here to help. Our products are designed to fit your needs. We make getting cash simple and convenient - the way it should be. But we're more than the products and services we offer - we treat you the way we would want to be treated. We understand that not everyone has perfect credit and every cash need is unique. We will work hard to get you the money you need. We're committed to giving our customers the confidence to overcome daily financial challenges through easy, convenient cash products and excellent customer service. It's what we do. it's what you deserve.</div>
            </div>
        </div>
        <div class="w-full bg-lendNation-blue">
            <div class="centered-container">
                <div class="section h-60 text-white">
                    <div class="text-3xl font-semibold">HOW LENDNATION WORKS</div>
                    <li> {{>hero text=question}} </li>
                    <div class="section">
                        <div class="text-xl text-lendNation-body-gray">{{convertRTFToHTML answer}}</div>
                </div>
            </div>
        </div>
        <div class="CitySearch" data-ya-scope="directory"><div class="l-container CitySearch-container"><div class="CitySearch"><div class="CitySearch-title">FIND A LENDNATION NEAR ME</div><div class="CitySearch-subtitle">Borrow online or visit one of our 6 locations across Nevada - from Las Vegas to Mesquite, to Laughlin and back. We can help you get the loan or cash you need - fast. Not in Nevada? We have online lending and store locations in 11 states.</div><div class="CitySearch-searchBox"><form method="get" id="CitySearchForm" class="search CitySearch-form" action="../search"><div class="CitySearch-searchBar"><label class="search-label" for="DirectorySearchInput"><span class="sr-only">City, State/Provice, Zip or City & Country</span></label><input placeholder="St. Louis, MO" class="search-input CitySearch-input js-locator-input" type="text" name="q" id="DirectorySearchInput" value="" onfocus="this.setSelectionRange(0, this.value.length);" /><button type="submit" class="search-button CitySearch-button" data-ya-track="search"><svg class="icon icon-search-circle" aria-hidden="true"><use xlink:href="../permanent-b0b701/assets/images/icons.115e07e6.svg#search-circle" /></svg><span class="sr-only">Search</span></button></div></form></div></div><div class="CitySearch-map"><div class="col-md-8 hidden-sm hidden-xs"><div class="c-map-with-pins"><div id="geo-border-2"></div><div id="dir-map-2" class="dir-map js-map-not-ready"></div></div><script id="js-map-config-dir-map-2" class="js-map-config" type="text/data">{"config": {"apiID":"gme-yextinc","baseUrl":"../","channelId":"www.lendnation.com/location","disableMapControl":false,"extraData":null,"linkToGetDirections":false,"mapId":"dir-map-2","mapboxMapIdentifier":null,"maxNumberOfLocationsToDisplay":100,"provider":"Google","source":null,"zoom":14}, "locs": [{"altTagText":"Nevada Payday Loans at 6181 S Rainbow Boulevard Las Vegas, NV","get_directions_url":"https://maps.google.com/maps?cid=17810947306171910948","id":8992856,"latitude":36.0767087,"longitude":-115.2431853,"type":"main","url":"nv/las-vegas/6181-s-rainbow-boulevard-0734"},{"altTagText":"Nevada Payday Loans at 3149 N Rancho Drive Las Vegas, NV","get_directions_url":"https://maps.google.com/maps?cid=12019495918332610736","id":8992920,"latitude":36.21612906482232,"longitude":-115.21336019039154,"type":"main","url":"nv/las-vegas/3149-n-rancho-drive-0731"},{"altTagText":"Nevada Payday Loans at 233 N Sandhill Blvd F Mesquite, NV","get_directions_url":"https://maps.google.com/maps?cid=385519406206716133","id":8992939,"latitude":36.80670340139961,"longitude":-114.06546592712402,"type":"main","url":"nv/mesquite/233-n-sandhill-blvd-f-0735"},{"altTagText":"Nevada Payday Loans at 2095 N Jones Boulevard Las Vegas, NV","get_directions_url":"https://maps.google.com/maps?cid=7454936423551633636","id":8992963,"latitude":36.19730008510144,"longitude":-115.22335812449455,"type":"main","url":"nv/las-vegas/2095-n-jones-boulevard-0727"},{"altTagText":"Nevada Payday Loans at 1955 S Casino Drive Laughlin, NV","get_directions_url":"https://maps.google.com/maps?cid=17082775159506257420","id":8992968,"latitude":35.1625759,"longitude":-114.575307,"type":"main","url":"nv/laughlin/1955-s-casino-drive-0739"},{"altTagText":"Nevada Payday Loans at 1942 E Sahara Ave Las Vegas, NV","get_directions_url":"https://maps.google.com/maps?cid=1372360646462656537","id":8992970,"latitude":36.14457650832884,"longitude":-115.12081325054169,"type":"main","url":"nv/las-vegas/1942-e-sahara-ave-0728"}], "nearbyLocs": [{"altTagText":"Nevada Title Loans at 301 Fremont St Las Vegas, NV","get_directions_url":"http://maps.google.com/?q=301+Fremont+St%2C+Las+Vegas%2C+NV+89101+US\u0026output=classic","id":11149617,"latitude":36.16934,"longitude":-115.14307,"type":"nearby","url":"nv/nevada-title-loans"},{"altTagText":"Nevada Installment Loans at 301 Fremont St Las Vegas, NV","get_directions_url":"http://maps.google.com/?q=301+Fremont+St%2C+Las+Vegas%2C+NV+89101+US\u0026output=classic","id":15831245,"latitude":36.16950655607703,"longitude":-115.14303951533803,"type":"nearby","url":"nv/nevada-installment-loans"}]}</script></div></div></div></div>
        {{>footer}}
    </body> 
</html>
