---
{

    "urlFormat" : "index.html"
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    {{>head }}
    <title>Home Page</title>
    <link rel="shortcut icon" type="image/png" href="/images/local.lendnation.com.png"/>
</head>
    <body>      
        <div class="w-full">
            {{>nav}}
            {{>hero text="ABOUT US"}}
            <div class="centered-container">
                <div class="section h-60">
                    <div class="text-3xl font-semibold">LendNation gets you the cash you need how and when you need it with a variety of flexible solutions online and in-store.</div>
                </div>
                <p>Our simple, flexible money solutions make getting a loan easy and your cash accessible both online and in-store. Whether you need a loan or simply need to cash a check, we're here to help. Our products are designed to fit your needs. We make getting cash simple and convenient - the way it should be.</p>
                <p>But we're more than the products and services we offer - we treat you the way we would want to be treated. We understand that not everyone has perfect credit and every cash need is unique. We will work hard to get you the money you need.</p>
                <p>We're committed to giving our customers the confidence to overcome daily financial challenges through easy, convenient cash products and excellent customer service. It's what we do. it's what you deserve.</p>
            </div>
        </div>
        <div class="w-full bg-lendNation-blue">
            <div class="centered-container">
                <div class="section h-60 text-white">
                    <div class="text-3xl font-semibold">HOW LENDNATION WORKS</div>
                    <li> {{>hero text=question}} </li>
                    <div class="section">
                        <div class="text-xl text-lendNation-body-gray">{{convertRTFToHTML answer}}</div>
                </div>
            </div>
        </div>
        {{>footer}}
    </body> 
</html>
