---
{
    "urlFormat" : "index.html"
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    {{>head }}
    <title>Home Page</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png"/>
</head>
    <body>      
        <div class="w-full">
            {{>nav}}
            {{>hero text="Home Page!"}}
            <div class="centered-container">
                <div class="section h-60">
                    <div class="text-3xl font-semibold">[Replace Me]</div>
                </div>
            </div>
        </div>
        <div class="w-full bg-lendNation-blue">
            <div class="centered-container">
                <div class="section h-60 text-white">
                    <div class="text-3xl font-semibold">[Replace Me]</div>
                </div>
            </div>
        </div>
        {{>footer}}
    </body> 
</html>